@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(135deg, #141e30, #243b55);
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
::selection{
    background: #48d38f;
    color: black;
}